header.header
    .header__column
        i.fab.fa-youtbe
    h1 Youtube
    .header__column
        ul
            li
                a(href="#") Join
            li
                a(href="#") Log In