.social-login {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  button {
    width: 100%;
    max-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    span {
      margin-right: 10px;
      font-size: 20px;
    }
    a {
      text-decoration: none;
    }
    a:visited {
      color: white;
    }
  }
  .social-login__github {
    background-color: $black;
    color: white;
  }
}
