.footer {
  margin-top: 40px 0px;
  padding: 15px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .footer__icon {
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    margin-right: 5px;
  }
  .footer__text {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 800;
    text-transform: uppercase;
  }
}
