doctype html
html
    head
        script(src="https://kit.fontawesome.com/6de48ee808.js", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
        link(rel="shortcut icon", href="#")
    body

        include ../partials/header
        main
            block content

        include ../partials/footer
        script(src="/static/main.js")